<div class="row">

  <div class="column">

    <h1 class=princess>Team Princess</h1>
    <img width="400" height="200" alt="Princess"
         src="http://cache.cosmopolitan.fr/data/photo/w660_c17/4l/princesses-disney-small.jpg">
    <p>
      <button class="princessDeckButton" (click)="fetchPrincessDeck()">see Princess' deck</button>
    </p>

    <section class="princess" *ngIf="selectedPrincess">

      <div class="cardPrincess" *ngFor="let option of princessCards">

        <div class="top">{{option.card.up}}</div>
        <div class="right">{{option.card.right}}</div>
        <div class="bottom">{{option.card.down}}</div>
        <div class="left">{{option.card.left}}</div>
        <input
          class="check"
          type="checkbox"
          [checked]=false
          name="checkPrincess"
          [(ngModel)]="option.selected">
      </div>


      <button (click)="getPrincessHand()">Validate</button>

    </section>

  </div>

  <div class="column">
    <h1 class="rulesGame">Règles du jeu</h1>

    <div class="rules">
      Bienvenue sur Starstone. Les règles du jeu sont simples!
      <p>
        Il suffit de voler un maximum de cartes à l'adversaire à chaque partie. Compris? euh...?
      <p>Alors sur un plateau de 4x4 cases, chaque joueur joue à tour de rôle une des 8 cartes qu'il aura choisi. Sur
        ces cartes il y a 4 valeurs de force disposées sur chaque côté de cette carte. Un joueur remporte, ou plutot
        ralie une carte à son camps lorsque la force du côté de sa carte est supérieure à celle à laquelle elle
        s'oppose. Une fois les 16 cartes posée, celui qui à le plus de carte dans son camps gagne.
      <p> Voilà! pour plus d'informations contacter @Feyribran :)
    </div>

    <br>
    <p>
      <button class="party" (click)="startGame()">Start Game</button>
    </p>


  </div>


  <div class="column">
    <h1 class="zerg">Team Zerg</h1>
    <img width="400" height="200" alt="Zerg"
         src="https://cdnb.artstation.com/p/assets/images/images/003/018/799/large/vuong-nguyen-zeggies.jpg?1468551727">

    <p>
      <button class="zergDeckButton" (click)="fetchZergDeck()">see Zerg's deck</button>
    </p>

    <section *ngIf="selectedZerg">
      <div class="cardZerg" *ngFor="let option of zergCards">

        <div class="top">{{option.card.up}}</div>
        <div class="right">{{option.card.right}}</div>
        <div class="bottom">{{option.card.down}}</div>
        <div class="left">{{option.card.left}}</div>
        <input
          class="check"
          type="checkbox"
          [checked]=false
          name="checkZerg"
          [(ngModel)]="option.selected">
      </div>

      <button (click)="getZergHand()">Validate</button>
    </section>

  </div>


</div>

<div class="gameContainer">
  <div class="carre" *ngFor="let card of zergCards">
    <div class="top">{{card.up}}</div>
    <div class="right">{{card.right}}</div>
    <div class="bottom">{{card.down}}</div>
    <div class="left">{{card.left}}</div>
  </div>
</div>
