<div class="row">

  <div class="column">

    <h1 class=princess>Team Princess</h1>
    <img width="300" alt="Princess"
         src="http://cache.cosmopolitan.fr/data/photo/w660_c17/4l/princesses-disney-small.jpg">
    <div>
      <ul>
        <li *ngFor="let card of cards">
          <button (click)= "details(card)">Princess's deck</button>{{princess.cards}}

        </li>
      </ul>

    </div>
    <button (click)= "details(card)">Princess's deck</button>{{princess.cards}}


  </div>

  <div class="column">
    <h1>Regles du jeu</h1>

    <div class="rules games">
    Bienvenue sur Starstone. Les règles du jeu sont simples!
      <p>
      Il suffit de voler un maximum de cartes à l'adversaire à chaque partie. Compris? euh...?
      <p>Alors sur un plateau de 4x4 cases, chaque joueur joue à tour de rôle une des 6 cartes qu'il aura choisi. Sur ces cartes il y a 4 valeurs de force disposées sur chaque côté de cette carte. Un joueur remporte, ou plutot ralie une carte à son camps lorsque la force du côté de sa carte est supérieure à celle à laquelle elle s'oppose. Une fois les 12 cartes posée, celui qui à le plus de carte dans son camps gagne.
      <p> Voilà! pour plus d'informations contacter @Feyribran :)
    </div>

  <br>


    <button>
      Begin a new party
    </button>
  </div>


  <div class="column">
    <h1 class=zerg>Team Zerg</h1>
    <img width="300" alt="Zerg"
         src="https://cdnb.artstation.com/p/assets/images/images/003/018/799/large/vuong-nguyen-zeggies.jpg?1468551727">

  </div>

<div class="users">
  <ul>
    <li *ngFor="let card of cards">
      <a href = "#{{user.id}}" (click)="details(user)">{{user.name}}</a>
    </li>
  </ul>
</div>

</div>
