.row {
  display: flex;
}

.column {
  flex: 50%;
  text-align: center;
}

.princess{
  color: hotpink;
  font-family: "Comic Sans MS";
  text-align: center;
}

.zerg{
  color: forestgreen;
  font-family: "Comic Sans MS";
  text-align: center;
}

.rules{
  text-align : justify;
  font-family: "Comic Sans MS";

}

.rulesGame{
  text-align : center;
  font-family: "Comic Sans MS";
  color : white;
  background-color: #f44336;
  border-radius: 8px;
  padding: 1px;
  height : 50px;
}

[type="checkbox"] {
  width: 17px;
  height: 17px; /* dim. de la case */

}



.gameContainer {
  width: 440px;
  height: 440px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWGvFc8O8Q783XKjgMbwFp_hH6Rg4n_YPM3O4Ivv3THCehAYbvJw);
  margin-left: auto;
  margin-right: auto;
}

.carre{
  background: green;
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
  position: relative;
}

.carre > * {
  position: absolute;
  color: blue;
}

.carre > .top {
  top: 5px;
  width: 100%;
  text-align: center;
}

.carre > .right {
  right: 5px;
  line-height: 100px;
}

.carre > .bottom {
  bottom: 5px;
  text-align: center;
  width: 100%;
}

.carre > .left {
  left: 5px;
  line-height: 100px;
}



.cardPrincess{
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxnjJOFg_NrrhIJVtElITYI6M6jq5Bn5lzppmJTOe8dRbB_PjP);
  width: 100px;
  height: 100px;
  margin: 4px;
  float: left;
  position: relative;

}

.cardPrincess > * {
  position: absolute;
  color: fuchsia;
  font-family: "Comic Sans MS";
  font-size: 18px;
  Font-Weight: Bold;
 }

.cardPrincess > .check{
  width: 100%;
  left : 38px;
  top : 1px;

}

.cardPrincess > .top {
  top: 3px;
  width: 100%;
  text-align: center;
}

.cardPrincess > .right {
  right: 3px;
  line-height: 100px;
}

.cardPrincess > .bottom {
  bottom: 3px;
  text-align: center;
  width: 100%;
}

.cardPrincess > .left {
  left: 3px;
  line-height: 100px;
}


.cardZerg {
  background-image:url(https://yt3.ggpht.com/-wGjx8AUxPhA/AAAAAAAAAAI/AAAAAAAAAAA/aohYUPfocYE/s100-c-k-no-mo-rj-c0xffffff/photo.jpg);
  width: 100px;
  height: 100px;
  margin: 3px;
  float: left;
  position: relative;
}

.cardZerg > * {
  position: absolute;
  color: white;
  font-family: "Comic Sans MS";
  font-size: 18px;
}


.cardZerg > .check{
   width: 100%;
   left : 38px;
   top : 1px;
 }



.cardZerg > .top {
  top: 3px;
  width: 100%;
  text-align: center;
}

.cardZerg > .right {
  right: 3px;
  line-height: 100px;
}

.cardZerg > .bottom {
  bottom: 3px;
  text-align: center;
  width: 100%;
}

.cardZerg> .left {
  left: 3px;
  line-height: 100px;
}



.party {
  border-radius: 8px;
  font-size: 16px;
  font-family:"Comic Sans MS";
  background-color: #f44336;
  color: white;
  width: 40%;
  height : 50px;
  horiz-align:center;
}

.zergDeckButton{
  border-radius: 8px;
  font-size: 16px;
  font-family:"Comic Sans MS";
  background-color:forestgreen;
  color: white;
  width: 40%;
  height : 50px;
  horiz-align:center;
}

.princessDeckButton{
  border-radius: 8px;
  font-size: 16px;
  font-family:"Comic Sans MS";
  background-color:hotpink;
  color: white;
  width: 40%;
  height : 50px;
  horiz-align:center;
}
