.row {
  display: flex;
}

.column {
  flex: 50%;
  text-align: center;
}

.princess{
  text-decoration-color: crimson;
  text-decoration-style: wavy;
}

.zerg{
  text-decoration-color:darkcyan;
  text-decoration-style: wavy;
}

.rules{
  text-align : justify;
}
