<h1>All cards available here !! </h1>

<p>
  <button class="party">Click HERE to buy Selected Cards</button>
</p>

<p>
<button class="party" (click)="pageService.toggle()">Back to the Game</button>
</p>


  <div class="carre" *ngFor="let card of allCards">
    <div class="top">{{card.up}}</div>
    <div class="right">{{card.right}}</div>
    <div class="bottom">{{card.down}}</div>
    <div class="left">{{card.left}}</div>
    <input
      class="check"
      type="checkbox"
      [checked]=false
      name="check"
    >

  </div>


